* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

body {
  font-family: "Fira Sans", sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}
